@model Filme

@{
    ViewData["Title"] = "Deletar Filme";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Deletar Ator @Model.Titulo</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">                
                    <div class="form-group">
                        <label asp-for="Titulo" class="control-label"></label>
                        <input asp-for="Titulo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageURL" class="control-label"></label>
                        <input asp-for="ImageURL" class="form-control" />
                    </div>

                    <div class="form-group">
                        <form asp-action="Deletar">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Confirmar" class="btn btn-outline-danger float-right" />
                        </form>
                        <a class="btn btn-outline-secondary" asp-action="Index">Listar Todos</a>
                    </div>
                    
            </div>
        </div>
    </div>
</div>