<div class="row">
    <div class="col-md-12 text-danger text-left">
        <h1>Filmes</h1>

        <div class="col-12 mx-1">
            <input class="form-control" type="text" name="nome" id="nome" placeholder="Buscar" />
        </div>

        <br />

        <div>
            <h3>Em Alta</h3>           
            <h3>Em Cartaz</h3>
            <h3>Noticias</h3>
            <h3>Em breve</h3>
        </div>

    </div>
</div>