@model Ator

<div class="container">
    <h1>Criar Ator</h1>
    <div class="form-row">
        <div class="col-md-6 mb-6">
            <label for="primeiroNome"> Primeiro Nome</label>
            <input type="text" name="name" id="name" value=" " placeholder="Nome do Ator" />
        </div>

        <div class="col-md-6 mb-6">
            <label for="segundonome"> Nome Fantasia</label>
            <input type="text" name="name" id="name" value=" " placeholder="Nome de heroi" />
        </div>

    </div>
</div>
