@model Produtor

<h1>@Model.Nome</h1>
<div class="row">
    <div class="col-md-2">
        <img class="img-thumbnail" src="@Model.FotoPerfilURL" />
    </div>

    <div class="col-md-10">
        <h4>Biografia</h4>
        <p>@Model.Bio</p>
    </div>



</div>

